.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 730px;
  max-width: calc(100% - 60px);
  margin: 24px 30px;
}

.App-header {
  margin-bottom: 36px;
}

.App-nav {
  min-height: 69px;
  margin-bottom: 24px;
  box-shadow: var(--box-shadow-primary);
  border-radius: 15px;
  background-color: var(--background-secondary);
  display: flex;
  align-items: center;
}

.App-main {
  width: 100%;
  min-height: 419px;
  box-shadow: var(--box-shadow-primary);
  border-radius: 15px;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
